@media screen and (max-width: 1499px) {
  /* research */
  .reserch_card .reserch_content p {
    padding: 0 40px;
  }
  .reserch_main .reserch_card .reserch_round {
    top: 15px;
    left: 38px;
  }
  /* catagarious */
  .corner_border::before {
    height: 3px;
    right: 13px;
  }
  .corner_border::after {
    top: 4px;
    right: 13px;
  }
  .bottom_border::before {
    height: 3px;
    left: 16px;
  }
  .bottom_border::after {
    bottom: 7px;
    left: 13px;
  }
}
@media screen and (max-width: 1460px) {
  .footer_help_card .footer_content h4 {
    font-size: 15px;
  }
  .footer_help_card .footer_content .call {
    font-size: 13px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1220px) {
  /* get more section */
  .get_more_main .get_card p {
    font-size: 14px;
    line-height: 28px;
    padding-left: 49px;
    padding-right: 32px;
  }
}

/*header*/
@media screen and (max-width: 1212px) {
  .nav-list .list-item {
    padding: 10px 6px;
    font-size: 12px;
  }
  .logo img {
    width: 200px;
    height: 30px;
  }
  .nav-text {
    font-size: 14px;
    line-height: 23px;
    text-align: center;
  }
  .nav-btn a {
    font-size: 12px;
    padding: 6px 15px;
    margin: 0 7px;
  }
}
@media screen and (max-width: 1199px) {
  .footer_help_card .footer_content h4 {
    font-size: 16px;
  }
  .footer_help_card .footer_content .call {
    font-size: 15px;
    line-height: 25px;
  }
  /* reserch */
  .corner_border::before {
    height: 3px;
    right: 3px;
  }
  .corner_border::after {
    top: 4px;
    right: 3px;
  }
  .bottom_border::before {
    height: 3px;
    left: 3px;
  }
  .bottom_border::after {
    bottom: 7px;
    left: 3px;
  }
}
@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0;
  }
  .navbar-link .nav-list .list-item {
    padding: 10px 6px;
    font-size: 12px;
  }
  .footer_main .footer_card .footer_card_line {
    width: 200px;
    margin-left: 10px;
  }
  .footer_card_icon {
    margin-right: 0;
  }
  .footer_main .footer_card .footer_link li a {
    font-size: 14px;
  }
}
.nav-btn a {
  font-size: 10px;
  padding: 0px 4px;
  margin: 0 3px;
}
@media screen and (max-width: 992px) {
  .navbar .menu {
    display: block;
    color: #000;
    font-size: 22px;
    padding: 0 40px;
  }
  .navbar-link .nav-list .list-item {
    display: block;
    padding: 10px 40px;
    line-height: 20px;
  }
  .navbar-link {
    position: fixed;
    top: 0;
    right: -200px;
    background-color: #0072ba;
    height: 100vh;
    width: 200px;
    z-index: 2;
    transition: all 1s ease;
  }
  .navbar-link .nav-list .list-item a {
    color: #ffff;
  }
  .nav-text {
    display: none;
  }
  .logo img {
    width: 168px;
    height: 28px;
    padding-left: 40px;
  }
  /* led section */
  .led_light_content h1 {
    font-size: 60px;
    line-height: 80px;
  }
  .led_light_content p {
    font-size: 16px;
    line-height: 26px;
  }
  .led_light_content .btn {
    width: 168px;
    height: 55px;
  }
  .led_light_content .btn .view {
    font-family: "Roboto", sans-serif;
    height: 24px;
    font-size: 16px;
    line-height: 48px;
  }
  /* get more section */
  .get_more_main .get_card {
    width: 33.33%;
  }
  .get_more h2 {
    font-size: 30px;
    line-height: 40px;
  }
  /* catagories  */
  .categories .cate_main .cat_card {
    width: 33.33%;
    padding: 12px;
  }
  .categories h2 {
    font-size: 30px;
    line-height: 40px;
  }
  /* research */
  .reserch h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .reserch_card .reserch_content h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .reserch_card .reserch_content p {
    padding: 0 27px;
    font-size: 14px;
    line-height: 20px;
  }
  .reserch_main .reserch_card .reserch_round {
    width: 50px;
    height: 50px;
    top: 11px;
    left: 31px;
  }

  /* footer */
  .foooter_card_vr_line {
    display: none;
  }
  .footer_main .footer_card {
    flex: 50%;
    padding: 25px;
  }
  .footer_main .footer_card h3 {
    padding: 0 20%;
    color: #0072ba;
  }
  .footer_main .footer_card .footer_link li {
    padding: 6px 20%;
  }
  .footer_help_card {
    padding-left: 20%;
  }
  .footer_main .footer_card .footer_card_line {
    width: 330px;
    margin-left: 20%;
  }
  .footer_help_card .footer_content h4 {
    color: rgba(238, 0, 0, 0.767);
  }
}
@media screen and (max-width: 768px) {
  /* get more section */
  .get_more_main .get_card {
    width: 33%;
    padding: 31px 15px 32px;
  }
  /* catagories */
  .categories .cate_main .cat_card {
    width: 33.33%;
  }
  /* research */
  .reserch_card {
    flex: 100%;
    text-align: center;
    position: relative;
  }
  .reserch_main .reserch_card .reserch_round {
    width: 70px;
    height: 70px;
    top: 25px;
    left: 160px;
  }
  .reserch_card .reserch_content p {
    text-align: justify;
    padding: 0 137px;
    margin-bottom: 11px;
    font-size: 16px;
  }
  .corner_border::after {
    top: 10px;
    right: 7px;
  }
  .corner_border::before {
    top: 7px;
    right: 7px;
  }
  .bottom_border::before {
    bottom: 0px;
    left: 3px;
  }
  .bottom_border::after {
    bottom: 0px;
    left: 0;
  }
  /* footer */
  .footer_main .footer_card {
    flex: 50%;
    padding: 10px 0px;
  }
  .footer_main .footer_card .footer_card_line {
    width: 280px;
  }
  .footer_card_icon {
    margin-right: 14px;
  }
}
@media screen and (max-width: 576px) {
  /* header */
  .logo img {
    width: 116px;
    height: 24px;
    margin-left: 0;
  }
  .nav-text {
    display: none;
  }
  /* catalouge */
  .catalogue {
    text-align: left;
    padding-left: 5px;
  }
  .catalogue a {
    padding: 8px 3px;
  }
  .catalogue span {
    font-size: 12px;
    line-height: 24px;
    margin-left: 8px;
  }
  /* led section */
  .led_light_content h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .led_light_content p {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 15px;
    margin-bottom: 20px;
  }
  /* get more section */
  .get_more_main .get_card {
    width: 50%;
  }
  .get_more h2 {
    font-size: 25px;
    line-height: 35px;
  }
  /* catagories */
  .categories .cate_main .cat_card {
    width: 50%;
    padding: 12px 20px;
  }
  .categories h2 {
    font-size: 25px;
    line-height: 35px;
  }
  /* research */
  .reserch_main .reserch_card .reserch_round {
    width: 70px;
    height: 70px;
    top: 25px;
    left: 64px;
  }
  .reserch h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .reserch_card .reserch_content p {
    text-align: justify;
    padding: 0 40px;
    margin-bottom: 11px;
    font-size: 16px;
  }
  .corner_border::before {
    right: 20px;
    top: 9px;
  }
  .corner_border::after {
    top: 9px;
    right: 17px;
  }

  /* footer */
  .footer_main .footer_card {
    flex: 100%;
  }
  .footer_card_icon {
    display: flex;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
  }
  .footer_main .footer_card .footer_card_line {
    width: 280px;
  }
  .footer_help_card {
    padding-left: 13%;
  }
  .footer .footer_bottom {
    padding: 0 12px;
  }
  .footer .footer_bottom p {
    font-size: 12px;
  }
}
@media screen and (max-width: 393px) {
  .reserch_main .reserch_card .reserch_round {
    width: 50px;
    height: 50px;
    top: 18px;
    left: 38px;
  }
}
@media screen and (max-width: 360px) {
  /* get more section */
  .get_more_main .get_card {
    width: 100%;
    text-align: center;
    padding: 20px 0 20px;
  }
  .get_more h2 {
    font-size: 20px;
    line-height: 30px;
  }
  /* catagories */
  .categories .cate_main .cat_card {
    width: 100%;
    padding: 12px 20px;
  }
  .categories h2 {
    font-size: 20px;
    line-height: 30px;
  }
  /* research */
  .reserch_main .reserch_card .reserch_round {
    width: 50px;
    height: 50px;
    top: 14px;
    left: 37px;
  }
  .reserch_card .padding {
    font-size: 12px;
    line-height: 18px;
  }
  .reserch h2 {
    font-size: 20px;
    line-height: 35px;
  }

  .corner_border::before {
    right: 48px;
    top: 9px;
  }
  .corner_border::after {
    top: 9px;
    right: 45px;
  }
  .bottom_border::after {
    bottom: 3px;
    left: 25px;
  }
  .bottom_border::before {
    left: 25px;
    bottom: 0;
  }
  /* footer */
  .footer_main .footer_card .footer_card_line {
    width: 200px;
  }
}
